[Unit]
Description=Amiga shell lookalike
After=systemd-getty.slice

[Service]
Type=forking
ExecStart=/usr/bin/amigashell start
ExecStop=/usr/bin/amigashell stop
Restart=always

[Install]
WantedBy=multi-user.target
